.task {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: var(--gray-500);
    color: var(--gray-100);
    border-radius: 10px;
    border: 2px solid var(--gray-400);
}

.taskDone{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: var(--gray-500);
    color: var(--gray-300);
    border-radius: 10px;
    border: 2px solid var(--gray-400);
    text-decoration: line-through;
}
    
p {
    flex: 1;
}
.trash {
    margin-top: .25rem;
    background-color: var(--gray-500);
    border: 0;
    color: var(--gray-300);
}

.trash:hover {
    color: var(--danger);
    cursor: pointer;
}

.checkBoxEmpty {
    border: 2px solid var(--blue);
    width: 1.25rem;
    height: 1.25rem;
    border-radius: .625rem;
    background-color: var(--gray-500);
    margin-top: .125rem;
}

.checkBoxEmpty:hover {
    opacity: 70%;
    cursor: pointer;
}

.checkBoxFilled {
    padding-top: .05rem;
    border: 0;
    border-radius: .625rem;
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--purple-dark);
    margin-top: .125rem;
}

.checkBoxFilled:hover {
    background-color: var(--purple);
    cursor: pointer;
}